*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    min-height: 100%;
    background-color: black;
    padding: 3vh 3vh;
}
.nav{
    display: flex;
    justify-content: space-between;
    color: white;
    width: 100%;
    height: 7vh;
    align-items: center;
    margin-bottom: 4px;
}
.nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: 1vmax;
}
.nav ul li{
    margin-left: 1vmax;
}
.container .nav #head{
    font-size: 2.5vmax;
    letter-spacing: 1px;
}
.sign{
    display: flex;
    align-items: center;
}
.sign span{
    margin-right: 10px;
}
.section1{
    width: 100%;
    height: 70vh;
    /* background-color: blueviolet; */
    margin-top: 30px;
    padding: 3vmax;
    display: flex;
}
.s1-left{
    width: 50%;
    height: 70%;
    /* background-color: brown; */
    color: white;
    font-weight: 200;
    font-size: 3vmax;

}
.s1-left img{
    width: 4.5vmax;
    height: 4.5vmax;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 4px solid black;
}
.photo{
    display: flex;
    align-items: center;
}
.last{
    font-weight: 100;
    font-size: 1vmax;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.s1-left img:nth-child(2){
    transform: translateX(-1.5vmax);
}
.s1-left img:nth-child(3){
    transform: translateX(-2.5vmax);
}
.s1-right{
    height: 100%;
    width: 50%;
    margin-left: 2vmax;
    clip-path: polygon(74% 0, 74% 10%, 100% 10%, 100% 100%, 0 100%, 0 0, 15% 0);
    background-image: url(360_F_480618841_JswIUBmvzWkYgkbpmRlVq3rvozQXC0HV-removebg-preview.png);
    background-color: #F5C6EC;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    border-radius: 1vmax;
    z-index: 1;
}
.top{
    display: flex;
    font-size: 0.7vmax;
    font-weight: 200;
    margin-left: 2vmax;
    margin-top: 1.5vmax;
}
#circles{
    position: absolute;
    top: 23%;
    right: 10%;

}
#circles span:nth-child(1){
    display: inline-block;
    width: 1.25vmax;
    height: 1.25vmax;
    border-radius: 50%;
    background-color: white;
    margin-left: 25vmax;
    margin-right: 1vmax;
}
#circles span:nth-child(2){
    display: inline-block;
    width: 1.25vmax;
    height: 1.25vmax;
    border-radius: 50%;
    border: 2px;
    border: 2px solid white;
}
.bottom{
    width: 95%;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 2vmax;
    align-items: center ;
    padding: 2vmax;
    margin-top: 17vmax;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%
    );
}
.bottom i{
    font-size: 3vmax;
}
.bottom p{
    font-size: 1vmax;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}
.section2{
    width: 100%;
    height: 40vh;
    /* background-color: aquamarine; */
    display: flex;
    margin-left: 3vmax;
    margin-top: 2vmax;
}
.s2-left{
    width: 16%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: blue; */
}
.s2-left #top{
    display: flex;
    align-items: center;
    color: white;
}
.s2-left #top i{
    font-size: 3vmax;
}
.s2-left #top p{
    display: inline-block;
    margin-left: 1vmax;
    font-size: 1vmax;

}
.s2-left #bottom{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.s2-left #bottom p{
    margin-top: 1vmax;
    color: white;
    border: 0.5px solid white;
    border-radius: 2vmax;
    padding: 0.8vmax 2vmax;
    font-size: 1vmax;
}
.s2-right{
    width: 75%;
    height: 100%;
    /* background-color: brown; */
    margin-left: 2.5vmax;
    display: flex;
}
.s2-right #one{
    clip-path: polygon(51% 8%, 60% 0, 100% 0, 100% 100%, 0 100%, 0 8%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5vmax 2.5vmax;

    width: 33%;
    height: 100%;
    background-color: #B9E9FC;
    margin-left: 1%;
    border-radius: 1vmax;
}
.s2-right #two{
    clip-path: polygon(51% 8%, 60% 0, 100% 0, 100% 100%, 0 100%, 0 8%);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 

    width: 33%;
    height: 100%;
    background-color: #62CDFF;
    margin-left: 1%;
    margin-left: 1%;
    border-radius: 1vmax;
}
.s2-right #three{
    clip-path: polygon(51% 8%, 60% 0, 100% 0, 100% 100%, 0 100%, 0 8%);
    margin-left: 1%;
    border-radius: 1vmax;
    width: 33%;
    height: 100%;
    background-color: #FFE5F1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5vmax 2.5vmax;
}
.s2-right #one span{
    font-weight: 600;
    margin-top: 0.5vmax;
}
.s2-right #one i{
    font-size: 4vmax;
}
.s2-right #two .top{
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    margin-top: 2.5vmax;
}
.s2-right #two .top span:nth-child(1){
    display: inline-block;
    width: 0.5vmax;
    height: 0.5vmax;
    border-radius: 50%;
    background-color: black;
}
.s2-right #two .top span:nth-child(2){
    display: inline-block;
    width: 0.5vmax;
    height: 0.5vmax;
    border-radius: 50%;
    border: 2px;
    border: 2px solid black;
    margin-right: 15vmax;
    margin-left: 0.6vmax;
}
.s2-right #two .top i{
    font-size: 4vmax;
    font-weight: 700;
}
.s2-right #two h2{
    font-size: 2.5vmax;
    padding-left: 2.5vmax;
    padding-bottom: 2.5vmax;
    margin-top: 5vmax;
}
.s2-right #three h1{
    font-size: 4vmax;
}
.s2-right #three h3{
    font-weight: 700;
    font-size: 1.1vmax;
    margin-top: 0.5vmax;
}
